h2{
    /* text-align: right; */
    border: 4px solid #555;
    border-radius: 20px;
    width: 240px;
    padding-left: 15px;
    float: right;
    font-weight: lighter;
}
#timer{
    font-weight: bold !important;
}
input{
    /* margin-top: 100px; */
    padding: 8px;
    border: 1px solid #555;
    border-radius: 10px;
    /* display: block; */
    outline: none;
}
#submit{
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
}